In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
#read data
countries = pd.read_csv('c_data.csv', encoding='ansi', header=2)
countries.head(1)

,1,CountryName,CountryCode,Population growth,Total population,Area (sq. km)
0,2,Brazil,BRA,0.817556,207652865.0,8358140.0

In [3]:
#change header name
# countries =  countries.rename(columns={'CountryCode':'code', 'Population growth':'pop_growth', 'Total population':'pop', 'Area (sq. km)':'area'})

#drop CountryCode
countries.drop('CountryCode', axis=1  , inplace=True)
countries.head(1)

   1  CountryName  Population growth  Total population  Area (sq. km)
0  2       Brazil           0.817556       207652865.0      8358140.0

In [4]:
# countries.columns
countries.drop('1', axis=1  , inplace=True)
countries.head(1)

   CountryName  Population growth  Total population  Area (sq. km)
0       Brazil           0.817556       207652865.0      8358140.0

In [25]:
# add CountryName as index
countries.set_index(' CountryName')

              Population growth  Total population  Area (sq. km)
 CountryName
Brazil                 0.817556      2.076529e+08      8358140.0
Switzerland            1.077221      8.372098e+06        39516.0
Germany                1.193867      8.266768e+07       348900.0
Denmark                0.834638               NaN        42262.0
Spain                 -0.008048      4.644396e+07       500210.0
France                 0.407491      6.689611e+07       547557.0
Japan                 -0.115284      1.269945e+08       364560.0
Greece                -0.687543      1.074674e+07       128900.0
Iran                   1.148789      8.027743e+07      1628760.0
Kuwait                 2.924206      4.052584e+06            NaN
Morocco                     NaN      3.527679e+07       446300.0
Nigeria                2.619034      1.859896e+08       910770.0
Qatar                  3.495070      2.569804e+06        11610.0
Sweden                      NaN      9.903122e+06       407310.0
India                  1.148215      1.324171e+09      2973190.0

In [6]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0    CountryName       16 non-null     object
 1   Population growth  14 non-null     float64
 2   Total population   15 non-null     float64
 3   Area (sq. km)      15 non-null     float64
dtypes: float64(3), object(1)
memory usage: 640.0+ bytes

In [7]:
countries.describe()

       Population growth  Total population  Area (sq. km)
count          14.000000      1.500000e+01   1.500000e+01
mean            1.145492      6.422767e+08   9.762744e+06
std             1.173195      1.909868e+09   3.325701e+07
min            -0.687543      2.569804e+06   1.161000e+04
25%             0.510007      1.032493e+07   2.389000e+05
50%             1.112718      6.689611e+07   4.463000e+05
75%             1.190820      1.564921e+08   1.269765e+06
max             3.495070      7.442136e+09   1.297332e+08

In [9]:
max_pop = countries['Total population'].max()
countries['Total population'][countries['Total population']==max_pop]

15    7.442136e+09
Name: Total population, dtype: float64

In [19]:
#drop world row
countries.drop(index=15, axis=0, inplace=True)
countries

    CountryName  Population growth  Total population  Area (sq. km)
0        Brazil           0.817556      2.076529e+08      8358140.0
1   Switzerland           1.077221      8.372098e+06        39516.0
2       Germany           1.193867      8.266768e+07       348900.0
3       Denmark           0.834638               NaN        42262.0
4         Spain          -0.008048      4.644396e+07       500210.0
5        France           0.407491      6.689611e+07       547557.0
6         Japan          -0.115284      1.269945e+08       364560.0
7        Greece          -0.687543      1.074674e+07       128900.0
8          Iran           1.148789      8.027743e+07      1628760.0
9        Kuwait           2.924206      4.052584e+06            NaN
10      Morocco                NaN      3.527679e+07       446300.0
11      Nigeria           2.619034      1.859896e+08       910770.0
12        Qatar           3.495070      2.569804e+06        11610.0
13       Sweden                NaN      9.903122e+06       407310.0
14        India           1.148215      1.324171e+09      2973190.0

In [22]:
#NAN
countries.isnull().sum()

 CountryName         0
Population growth    2
Total population     1
Area (sq. km)        1
dtype: int64

In [23]:
# #remove NAN
# # countries.dropna(axis=0)
# #fill nan
# countries.fillna({'Population growth':0,'Total population':1000000, 'Area (sq. km)':500000})
# # fill with above data
# countries.fillna(method='ffill')

In [28]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan,strategy='mean', )
imp.fit(countries)
new_data = imp.transform(countries)
new_data

In [ ]:
#duplicate
countries.drop_duplicates(['name'])

#concatinate
new_data = pd.concat([data1,data2], axis=0, ignore_index=True)